html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 90%;
  font-size: 14px;
  background-color: #91575b;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ddd;
}

.search {
  font-size: 1rem;
}

@media (min-width: 1024px) {
  html body {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  html body {
    font-size: 24px;
  }
}

.map {
  width: 100%;
  height: 85%;
  margin-top: 2%;
}

.form-group {
  font-size: 50%;
}

.documentList {
  margin-top: 2rem;
  height: 8rem;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 90%;
  padding-left: 10%;
}

.documentItem {
  padding-bottom: .5rem;
}

.weatherWine {
  margin-top: 2%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.navbar {
  margin-bottom: 0;
  background-color: #579170;
  border-color: #579170;
  border-radius: 0 !important;
}

menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.no-gutter > [class*='col-'] {
  padding-right: 1.3rem;
  padding-left: 0.3rem;
}
@media (min-width: 360px) {
  .no-gutter > [class*='col-'] {
    padding-right: 1rem;
    padding-left: 0.3rem;
  }
}

.grapeBunch {
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}

.titleWine {
  font-size: 2rem;
  margin-left: 1rem;
  color: #fff;
  font-weight: 700;
}

.home {
  font-size: 1rem;
  margin-left: 1rem;
  color: #fff;
  font-weight: 700;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.address1 {
  font-size: 14px;
  color: #91575b;
  font-family: 'Source Sans Pro', sans-serif;
}

.address2 {
  font-size: 14px;
  color: #91575b;
  font-family: 'Source Sans Pro', sans-serif;
}

.number {
  font-size: 14px;
  color: #579170;
  font-family: 'Source Sans Pro', sans-serif;
}

.website {
  color: #416c54;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
}
.navbar-toggle {
  background-color: #fff;
}
.wineTab {
  font-size: 16px;
  color: #579170;
  font-family: 'Source Sans Pro', sans-serif;
}

.wineTowns {
  color: #416c54;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: .5rem;
  line-height: 1.3rem;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 4rem;
}

@media (min-width: 768px) {
  .wineTowns {
    height: 7rem;
    line-height: 1.8rem;
  }
}
